<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal EBD - Cadastro</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-blue-100 to-blue-300 flex items-center justify-center min-h-screen">
    
  <form method="POST" class="bg-white shadow-xl rounded-2xl p-8 w-full max-w-md flex flex-col gap-4">
    {{ form.csrf_token }}

    <!-- Logo -->
    <div class="flex justify-center">
      <svg height="50" viewBox="-3 -3 82 82" width="50" class="text-blue-600">
        <img src="{{ url_for('static', filename = 'logo.jpg') }}" class="flex justify-center" />
      </svg>
    </div>

    <!-- Título -->
    <h2 class="text-2xl font-bold text-center text-gray-800">
      Bem-vindo(a) ao Portal EBD - Pesqueira
    </h2>

    <!-- Campo de email -->
    <div class="flex flex-col">
      <label class="text-gray-700 font-medium mb-1">{{ form.email.label.text }}</label>
      {{ form.email(class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none") }}
    </div>


     <!-- Campo de congregação -->
     <div class="flex flex-col">
        <label class="text-gray-700 font-medium mb-1">{{ form.congregacao.label.text }}</label>
        {{ form.congregacao(class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none") }}
      </div>

    <!-- Campo de senha -->
    <div class="flex flex-col">
      <label class="text-gray-700 font-medium mb-1">{{ form.senha.label.text }}</label>
      {{ form.senha(class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none") }}
    </div>

    <!-- Botão -->
    <div class="mt-2">
      {{ form.botao_login(class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg shadow-lg transition-transform transform hover:scale-105") }}
    </div>

    <!-- Link -->
    <p class="text-center text-sm text-gray-600 mt-2">
      Não tem uma conta? Cadastre-se
      <a href="{{ url_for('cadastro') }}" class="text-blue-600 hover:underline font-semibold">
        cadastre-se
      </a>
    </p>
    <!-- Link -->
    <p class="text-center text-sm text-gray-600 mt-2">
        
        <a href="{{ url_for('home') }}" class="text-blue-600 hover:underline font-semibold">
            Voltar para Inicio
        </a>
      </p>
  </form>

</body>
</html>
