<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Pedidos Licão EBD - IEADPE - Pesqueira</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% block nave %}
<body>
    <nav class="nav nav-pills nav-fill" style="background-color:rgb(20, 79, 187); display: flex; justify-content: center; gap: 50px; padding: 20px;">
        
        <h3 style="margin: 0; display: flex; gap: 100px;">
          
          
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('painel_banco') }}">Banco de Dados</a>
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('logout') }}">Sair</a>
          {% if current_user.is_authenticated and current_user.is_admin %}
            <a class="nav-link" style="color: aliceblue;" href="{{ url_for('todos_pedidos') }}">Pedidos</a>
            {% endif %}

        </h3>
      </nav>
      {% endblock %} 
      {% block body %}
    <h1>Pedidos Licão EBD - IEADPE - Pesqueira</h1>
    <h2 class="nav-link disabled" aria-disabled="true" style="color: rgb(34, 21, 49);">{{usuario}} - {{ congregacao }}</h2>
    
    <a href="{{ url_for('ver_carrinho') }}" class="btn-carrinho">🛒 Ver Carrinho</a>

    <div class="container">
        {% for produto in produtos %}
        <div class="card">
            <img src="{{ produto.imagem }}" alt="{{ produto.nome }}">
            <h3>{{ produto.nome }}</h3>
            <p class="preco">R$ {{ "%.2f"|format(produto.preco) }}</p>
            <form action="{{ url_for('adicionar') }}" method="POST">
                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                <input type="number" name="quantidade" min="-10" value="1">
                <button type="submit">Adicionar</button>
            </form>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>





