<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Escola Dominical - IEADPE-Pesqueira</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% block nave %}
<body>
    <nav class="nav nav-pills nav-fill" style="background-color:rgb(20, 79, 187); display: flex; justify-content: center; gap: 50px; padding: 20px;">
        <h3 style="margin: 0; display: flex; gap: 90px;">
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('home') }}">INICIO</a>
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('login') }}">LOGIN</a>
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('cadastro') }}">CADASTRE-SE</a>
          <a class="nav-link disabled" aria-disabled="true" style="color: aliceblue;" href="{{ url_for('gerenciar_pdfs') }}">AREA DE APOIO AO PROFESSOR</a>
        </h3>
      </nav>
      {% endblock %} 
      {% block body %}
    <h1>Escola Dominical - IEADPE-Pesqueira</h1>
    

   <!-- Logo -->
    <div class="flex justify-center">
      <svg height="50" viewBox="-3 -3 82 82" width="50" class="text-blue-600">
        <img src="{{ url_for('static', filename = 'logo.jpg') }}" class="flex justify-center" />
      </svg>
    </div>
    <h1>Painel de Noticias</h1>
    <div class="flex justify-center">
      <svg height="50" viewBox="-3 -3 82 82" width="50" class="text-blue-600">
        <img src="{{ url_for('static', filename = 'ebaprado.jpeg') }}" class="flex justify-center" />
      </svg>
    </div>
    {% endblock %}
    
</body>

</html>








